@import "tailwindcss";

.images>img {
    max-width: 100%;
    /* Ensures the image never exceeds the width of its parent */
    height: auto;
    /* Maintains the aspect ratio, preventing distortion */
    display: block;
    /* Optional: Removes extra space below the image if it's inline */
}

@media screen and (max-width: 767px) {
    .removepadding {
        padding: 10px 0px;
    }

    .footerpadding {
        padding: 0 40px 0 40px;
    }

    .addmargin {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .addpadding {
        padding: 10px 40px 0 40px;
    }

    .addflex {
        display: flex;
        column-gap: 200px;
    }
}